{% extends 'base.html.twig' %}
{% block title %}Nos Occasions{% endblock %}

{% block body %}
{# Affichage des images existantes #}
   
<div class="w-50 m-auto">
  {{ form_start(form) }}
  {{ form_widget(form) }}
    <div class="existing-images">
        {% if annonces.images|length > 0 %}
            <div class="images-grid">
                {% for image in annonces.images %}
                    <div class="image-container d-flex d-row">
                      <input type="checkbox" name="delete_images[]" value="{{ image.id }}">
                      <img src="{{ asset('/upload/' ~ image.imagesfiles) }}" alt="Image de l'annonce" class="img-thumbnail">
                    </div>
                    
                {% endfor %}
            </div>
        {% else %}
            <p>Il n'y a pas d'images pour cette annonce.</p>
        {% endif %}
    </div>
    <button type="submit" class="button">Envoyer</button>
    <button type="submit" class="button">Supprimer</button>
    <a href="{{ path('app_occasions_show') }}" class="btn btn-warning">Retour</a>
  {{ form_end(form) }}
</div>
{% endblock %}