{% extends 'base.html.twig' %}

{% block title %}Gestion des messages{% endblock %}

{% block body %}
    <div class="messageNonArchive">
        <h2>Messages non lus: </h2>
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {{ messages|join('<br>')|raw }}
            </div>
        {% endfor %}
        <form method="POST" action="{{ path('app_messages_archive') }}">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Sujet</th>
                    </tr>
                </thead>
                {% for messagesnonarchive in messagesnonarchives %}
                    <tbody>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="checkboxMessage m-3" name="checkboxArchive[]" value="{{ messagesnonarchive.id }}">
                            </th>
                            <td class="text-start">{{messagesnonarchive.createdAt|format_datetime(pattern ='d MMMM Y')}} M. {{messagesnonarchive.name}}</td>
                            <td>{{messagesnonarchive.email}}</td>
                            <td><a data-bs-toggle="collapse"  href="#collapseExample{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ loop.index }}" >{{messagesnonarchive.subject}}</a>
                                <div class="collapse custom-collapse" id="collapseExample{{ loop.index }}">
                                    <div class="card card-body">
                                        {{messagesnonarchive.message}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="archiveBouton">
                <button type = "submit" class="btn btn-warning " name="archive" >Archiver</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="messages archives">
        <h2>Messages lus: </h2>
        <form method = "POST" action="{{ path('app_messages_archive') }}">
            <!--recuperer les messages archivés -->
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Sujet</th>
                    </tr>
                </thead>
            {% for messagesarchive in messagesarchives %}
                    <!--$dateFormate = date("d-m-y", strtotime($archiveMessage['date']));-->
                    <tbody>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" class="checkboxMessage m-3" name="checkboxDesarchive[]" value="{{ messagesarchive.id }}">
                            </th>
                            <td>{{messagesarchive.createdAt|format_datetime(pattern ='d MMMM Y')}} M. {{messagesarchive.name}}</td>
                            <td>{{messagesarchive.email}}</td>
                            <td><a data-bs-toggle="collapse"  href="#collapseExample{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ loop.index }}" >{{messagesarchive.subject}}</a>
                                <div class="collapse custom-collapse" id="collapseExample{{ loop.index }}">
                                    <div class="card card-body">
                                        {{messagesarchive.message}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            {% endfor %}
            </table>
                <div class="desarchiverBouton">
                    <button type = "submit" class="btn btn-warning " name="desarchiver" >Désarchiver</button>
                </div>
                <div class="deleteBouton">
                    <button type = "submit" class="btn btn-warning " name="delete" >Supprimer</button>
                </div>
        </form>
    </div>
{% endblock %}
