{% extends 'base.html.twig' %}

{% block title %}Nos Occasions{% endblock %}

{% block body %}

<div class="filtres">
    <h3>Filtres:</h3>
    <div class="filter">
        <div class="price">
            <h3>Prix</h3>
            <input type="range" id="prix" name="prix" min={{ minMaxValues.min_prix }} max={{ minMaxValues.max_prix }} value={{ minMaxValues.max_prix }} step="1000" >
            <span id="prixValeur"></span>
        </div>
        <div class="année">
            <h3>Année</h3>
            <input type="range" id="annee" name="annee" min={{ minMaxValues.min_annee }} max={{ minMaxValues.max_annee }} value={{ minMaxValues.max_annee }} step="1" >
            <span id="anneeValeur"</span>
        </div>
        <div class="km">
            <h3>Kilométrage</h3>
            <input type="range" id="km" name="km" min={{ minMaxValues.min_km }} max={{ minMaxValues.max_km }} value={{ minMaxValues.max_km }} step="5000">
            <span id="kmValeur"></span>
        </div>
    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nos occasions</a></li>
    </ol>
</nav>
{%  if annonces is empty %}
<p class='text-center'> Il n'y a pas d'annonce actuellement.</p>
    {% else %}
    <div class="cards"> 
        {% for annonce in annonces %} 
            <!--affichage annonce car-->
        <div class="container carCard">
            <div class="card h-100" id="card" >
                <div class="card-body p-0"> 
            {% if annonce.images is empty %}
            <p>Il n'y a pas d'image</p>
            {% else %}
                {#% for image in annonce.images %#}
                {% set firstImage = annonce.images|first %}
                <img class="card-img-top" src="{{ asset('/upload/' ~ firstImage.imagesfiles) }}" alt="vehicule">
            {#% endfor %#}
            {% endif %}
                    <a class="card-title" href="{{ path('app_occasions_details',{'id': annonce.id}) }}">{{annonce.constructeur}} {{annonce.modele}}</a>
                    <div class="logo-card">
                        <div class="logos">
                            <img src="{{asset('logo/logo_carburant.svg')}}" alt='logo_carburant'>
                            <p class="energy">{{annonce.carburant}}</p>
                        </div>
                        <div class="logos">
                            <img src="{{asset('logo/logo_compteur_vitesse.svg')}}" alt='logo_vitesse'>
                            <p class="km">{{annonce.km}}</p>
                        </div>
                        <div class="logos">
                            <img src="{{asset('logo/logo_calendrier.svg')}}" alt='logo_calendrier'>
                            <p class="year">{{annonce.annee}}</p>
                        </div>
                    </div>
                    <h2 class="prix">{{annonce.prix|number_format(0, '.', ' ')}} €</h2> 
                    <div class="d-flex flex-column align-self-end card-footer pb-0 mt-auto">
                        <a  href="{{ path('app_occasions_details',{'id': annonce.id}) }}" class="button-occasions" value="{{annonce.id}}">Plus de detail</a>
                        <div>Référence de l'annonce : 00{{annonce.id}}</div>
                    </div>
                </div>
            </div>
        </div>
        {%  endfor %}
{% endif %}
</div>  
{% endblock %}
