{% extends 'base.html.twig' %}

{% block title %}Nos Occasions{% endblock %}

{% block body %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nos Occasions</li>
        </ol>
    </nav>
    <div class="filtres">
        <h3>Filtres:</h3>
        <div class="filter">
            <div class="price">
                <h3>Prix</h3>
                <input type="range" id="prix" name="prix" min="{{ minMaxValues.min_prix }}" max="{{ minMaxValues.max_prix }}" value="{{ minMaxValues.max_prix }}" step="1000">
                <span id="prixValeur">{{ minMaxValues.max_prix }}</span>
            </div>
            <div class="année">
                <h3>Année</h3>
                <input type="range" id="annee" name="annee" min="{{ minMaxValues.min_annee }}" max="{{ minMaxValues.max_annee }}" value="{{ minMaxValues.max_annee }}" step="1">
                <span id="anneeValeur">{{ minMaxValues.max_annee }}</span>
            </div>
            <div class="km">
                <h3>Kilométrage</h3>
                <input type="range" id="km" name="km" min="{{ minMaxValues.min_km }}" max="{{ minMaxValues.max_km }}" value="{{ minMaxValues.max_km }}" step="5000">
                <span id="kmValeur">{{ minMaxValues.max_km }}</span>
            </div>
        </div>
    </div>
    <div class="cards"> 
        {% if annonces is empty %}
            <p class='text-center'>Il n'y a pas d'annonce actuellement.</p>
        {% else %}
            {% for annonce in annonces %}
                <div class="container carCard">
                    <div class="card" id="card">
                        <div class="card-body">
                            {% for image in annonce.images %}
                            <img class="card-img-top" src="{{ asset('uploads/images/' ~ image.filename) }}" alt="vehicule">
                            {% endfor %}
                            <h2 class="card-title">{{ annonce.constructeur }} {{ annonce.modele }}</h2>
                            <div class="logo-card">
                                <div class="logos">
                                    <img src="{{ asset('logo/logo_carburant.svg') }}" alt="logo_carburant">
                                    <p class="energy">{{ annonce.carburant }}</p>
                                </div>
                                <div class="logos">
                                    <img src="{{ asset('logo/logo_compteur_vitesse.svg') }}" alt="logo_vitesse">
                                    <p class="km">{{ annonce.km }} km</p>
                                </div>
                                <div class="logos">
                                    <img src="{{ asset('logo/logo_calendrier.svg') }}" alt="logo_calendrier">
                                    <p class="year">{{ annonce.annee }}</p>
                                </div>
                            </div>
                            <h2 class="prix">{{ annonce.prix }} €</h2>
                            <div class="d-flex flex-column align-self-end">
                                <a href="{{ path('app_occasions_details', { 'id': annonce.id }) }}" class="button-occasions" value="{{ annonce.id }}">Plus de détail</a>
                                <div>Référence de l'annonce : 00{{ annonce.id }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
 {% block javascripts %}

    <script src="{{asset('js/occasions.js') }}"></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    <script>
        document.getElementById("prix").addEventListener("input", function () {
                afficherValeur("prix", "prixValeur");
                getFilteredVehicles(
                    parseInt(document.getElementById("prix").value),
                    parseInt(document.getElementById("annee").value),
                    parseInt(document.getElementById("km").value)
                );
            });

            document.getElementById("annee").addEventListener("input", function () {
                afficherValeur("annee", "anneeValeur");
                getFilteredVehicles(
                    parseInt(document.getElementById("prix").value),
                    parseInt(document.getElementById("annee").value),
                    parseInt(document.getElementById("km").value)
                );
            });

            document.getElementById("km").addEventListener("input", function () {
                afficherValeur("km", "kmValeur");
                getFilteredVehicles(
                    parseInt(document.getElementById("prix").value),
                    parseInt(document.getElementById("annee").value),
                    parseInt(document.getElementById("km").value)
                );
            });
</script>
{% endblock %}

