{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
        <img class="imageAccueil" src="{{asset('upload/img_accueil.png')}}"  alt="accueil">
    </div>
    <div>
        <p class="promesse">Le <span class="textRed">Garage V.Parrot</span> vous propose une large gamme<span class="textRed"> de services</span>
            afin de garantir la <span class="textRed">performance</span> et la <span class="textRed">sécurité</span> de votre véhicule.<br>     
            Nous vous proposons aussi des <span class="textRed">véhicules d’occasion</span> à la vente .<br>    
            Le garage V.Parrot vous assure un <span class="textRed"> traitement personnalisé</span> de vos besoins et demandes.</p>
    </div>
    <div class="navButton">
        <div class="button">
            <a href="{{path('app_services_index')}}">Réparation et entretien</a>
        </div>
        <div class="button">
            <a href="{{path('app_occasions_index')}}">Nos occasions</a>
        </div>
        <div class="button">
            <a href="{{path('app_messages_new')}}">Contact</a>
        </div>
    </div>
    <hr>
    <div>
        {%  if lastBestComments is empty %}
            <p class='text-center'> Il n'y a pas d'avis.</p>
        {% else %}
            <div class="list-group">
                <h2 class="blog-post-title">Nos clients nous recommandent :</h2>
                {% for formattedComment in formattedComments %}
                <article class="blog-post">
                    <p class="blog-post-meta ">{{formattedComment.publicationMessage}} par<span class ="text-capitalize"> {{formattedComment.comment.name}}</span> </p>
                    <p class="text-center text-break">{{formattedComment.comment.comments}}</p>
                    <p id="rating">Note: <span class="rating" data-rating="{{ formattedComment.comment.rating }}"></span>
                    <span class="etoiles"></span></p>
                    <hr>
                </article>
                {% endfor %}
            </div>
            {% endif %}
            
    </div>
<a href="{{path('app_comments_new')}}" class="text-center"> Laisser nous votre avis </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/starRating.js') }}"></script>
{% endblock %}
