{% extends 'base.html.twig' %}

{% block title %}Mise à jour des horaires{% endblock %}

{% block body %}
<form class="horaire">
    <h2>Horaire d'ouverture</h2>
    <table>
        <thead>
            <tr>
            <th colspan="1" >Jour</th>
                <th colspan="2" >Matin</th>
                <th colspan="2">Après-midi</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td name = "day" type = "text" >{{horaire.joursOuverture}}</td> 
                <td name = "heure_debut_am" type = "text">{{horaire.heuresDebutAM|date('H:i')}}</td>                  
                <td name = "heure_fin_am" type = "text">{{horaire.heuresFinAM|date('H:i')}}</td>
                <td name = "heure_debut_pm" type = "text">{{horaire.heuresDebutPM|date('H:i')}}</td>
                <td name = "heure_fin_pm" type = "text">{{horaire.heuresFinPM|date('H:i')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
<div class="container">
    {{ form_start(form) }}
        <table>
        <thead>
            <tr>
            <th colspan="1" >Jour</th>
                <th colspan="2" >Matin</th>
                <th colspan="2">Après-midi</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form.joursOuverture) }}</td> 
                <td>{{ form_widget(form.heuresDebutAM) }}</td>                  
                <td>{{ form_widget(form.heuresFinAM) }}</td>
                <td>{{ form_widget(form.heuresDebutPM) }}</td>
                <td>{{ form_widget(form.heuresFinPM) }}</td>
            </tr>
        </tbody>
        </table>
        <button type="submit" class="button">Valider la modification</button>
        <a  href = "{{path('app_admin_garage')}}" class="button-occasions">Retour</a>
    {{ form_end(form) }}
</div>
{% endblock %}
