{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="w-50 m-auto p-3">
  <h1 class='text-center'>Mise à jour des services </h1>
    {{form_start(form)}}
    {% if services.pathImage|length > 0 %}
    <img src="{{ asset('/upload/'~ services.pathImage) }}" style="max-width: 400px; max-height: 400px;" alt="...">
    {% endif %}
    {{form_widget(form)}}
    <div class="d-flex justify-content-center">
      <button type="submit" class="button">Envoyer</button>
      <a href="{{ path('app_admin_services_show') }}" class="button-occasions">Retour</a>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}